meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"

meta name="description" content="#{Setting.get_site_info :description}"
meta name="keywords" content="#{Setting.get_site_info :keywords}"
meta name="author" content="#{Setting.site_author}"
== csrf_meta_tags
title #{@title} - #{Setting.get_site_info :subTitle} - #{Setting.get_site_info :title}