div class="row pull-right"
  == link_to image_tag("emoji/#{Emoji.find_by_alias('+1').image_filename}", size: '32x32'), rate_path(type: resource.class, id: resource.id, score: 1), method: :post
  == link_to image_tag("emoji/#{Emoji.find_by_alias('-1').image_filename}", size: '32x32'), rate_path(type: resource.class, id: resource.id, score: -1), method: :post